## SUMMARY

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = 50
df = pd.read_excel('2023_wc_all_pbp.xlsx')
# Display the first few rows of the dataset
df.head(10)

,Unnamed: 0,ListIndex,AC,Action,Id,SA,SB,Time,game_mins,game_seconds,game_milliseconds,GT,Z1,Z2,Z3,C1,SU,T1,PId,SP,ST,STQ,STQS,STS,SX,SY,SPS,Score,C2,name,Nationality,ID,ParentId,Position,Age,Height,rsc,eventid,location,group,phase,period,Code,zoneBasic,distanceShot,zoneRange,seconds_elapsed
0,1,0,STARTG,START of Game,0:0002,0,0,10:00:00,10,0,NaN,1693036969000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25276-F-2,NaN,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,0
1,2,1,JB,Jump ball won,2:0012,0,0,10:00:00,10,0,NaN,1693036968000,NaN,NaN,NaN,P_176610,+,T_877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edy TAVARES,CPV,1.0,T_877,C,31.0,221.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,0
2,3,2,JB,Jump ball lost,2:0012B,0,0,10:00:00,10,0,NaN,1693036968000,NaN,NaN,NaN,P_151899,-,T_632,2:0012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Giorgi SHERMADINI,GEO,2.0,T_632,C,34.0,217.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,0
3,4,3,FOUL,"Personal foul (P1,T1)",2:0013,0,0,09:58:00,9,58,NaN,1693036973000,P,NaN,NaN,P_227175,NaN,T_632,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rati ANDRONIKASHVILI,GEO,2.0,T_632,PG,22.0,193.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,2
4,5,4,RFOUL,Foul drawn,2:0014,0,0,09:58:00,9,58,NaN,1693036973000,NaN,NaN,NaN,P_160917,NaN,T_877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ivan ALMEIDA,CPV,1.0,T_877,F,34.0,197.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,2
5,6,5,TTO,"Team Turnover, 24 seconds (1)",2:0015,0,0,09:43:00,9,43,NaN,1693036996000,24,NaN,NaN,NaN,NaN,T_877,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25276-F-2,NaN,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,17
6,7,6,P2,"2PtsFG inside paint, Turnaround Jump Shot missed",2:0016,0,0,09:24:00,9,24,NaN,1693037039000,P,TO,TJ,P_160547,-,T_632,NaN,NaN,NaN,NaN,NaN,NaN,161.0,72.0,NaN,NaN,NaN,Tornike SHENGELIA,GEO,2.0,T_632,PF,31.0,206.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,In The Paint (Non-RA),3.8,Less Than 8 ft.,36
7,8,7,REB,Defensive rebound (1),2:0017,0,0,09:24:00,9,24,NaN,1693037040000,D,NaN,NaN,P_176610,NaN,T_877,2:0016,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,Edy TAVARES,CPV,1.0,T_877,C,31.0,221.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,36
8,9,8,P3,3PtsFG made (3 Pts),2:0018,3,0,09:16:00,9,16,NaN,1693037047000,LL,NaN,JS,P_150697,+,T_877,NaN,1.0,1.0,1.0,3.0,3.0,37.0,132.0,3.0,2000-03-01 00:00:00,NaN,Betinho GOMES,CPV,1.0,T_877,SF,38.0,203.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,Above the Break 3,13.8,8-16 ft.,44
9,10,9,ASS,Assist (1),2:0019,3,0,09:16:00,9,16,NaN,1693037047000,NaN,NaN,NaN,P_160917,NaN,T_877,2:0018,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ivan ALMEIDA,CPV,1.0,T_877,F,34.0,197.0,25276-F-2,208182.0,Okinawa (JPN),Group F,First Round,Q1,Q1,NaN,NaN,NaN,44

In [3]:
# Display basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44086 entries, 0 to 44085
Data columns (total 47 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         44086 non-null  int64
 1   ListIndex          44086 non-null  int64
 2   AC                 44086 non-null  object
 3   Action             44086 non-null  object
 4   Id                 44086 non-null  object
 5   SA                 44086 non-null  int64
 6   SB                 44086 non-null  int64
 7   Time               44086 non-null  object
 8   game_mins          44086 non-null  int64
 9   game_seconds       44086 non-null  int64
 10  game_milliseconds  0 non-null      float64
 11  GT                 44086 non-null  int64
 12  Z1                 24915 non-null  object
 13  Z2                 8981 non-null   object
 14  Z3                 13071 non-null  object
 15  C1                 41374 non-null  object
 16  SU                 15869 non-null  object
 17  T1                 43346 non-null  object
 18  PId                11964 non-null  object
 19  SP                 25821 non-null  float64
 20  ST                 25979 non-null  float64
 21  STQ                25979 non-null  float64
 22  STQS               15074 non-null  float64
 23  STS                15074 non-null  float64
 24  SX                 11914 non-null  float64
 25  SY                 11914 non-null  float64
 26  SPS                14220 non-null  float64
 27  Score              8253 non-null   object
 28  C2                 4468 non-null   object
 29  name               41374 non-null  object
 30  Nationality        41374 non-null  object
 31  ID                 41374 non-null  float64
 32  ParentId           41374 non-null  object
 33  Position           41374 non-null  object
 34  Age                41374 non-null  float64
 35  Height             41374 non-null  float64
 36  rsc                44086 non-null  object
 37  eventid            41374 non-null  float64
 38  location           44086 non-null  object
 39  group              38427 non-null  object
 40  phase              44086 non-null  object
 41  period             44086 non-null  object
 42  Code               44086 non-null  object
 43  zoneBasic          11925 non-null  object
 44  distanceShot       11914 non-null  float64
 45  zoneRange          11914 non-null  object
 46  seconds_elapsed    44086 non-null  int64
dtypes: float64(14), int64(8), object(25)
memory usage: 15.8+ MB
None

In [4]:
# Display summary statistics
print(df.describe())

        Unnamed: 0     ListIndex            SA            SB     game_mins  \
count  44086.00000  44086.000000  44086.000000  44086.000000  44086.000000
mean   22043.50000     59.710430     42.933267     43.132741      4.306152
std    12726.67632     35.655634     25.953450     26.035078      2.929960
min        1.00000      0.000000      0.000000      0.000000      0.000000
25%    11022.25000     29.000000     21.000000     21.000000      2.000000
50%    22043.50000     59.000000     42.000000     42.000000      4.000000
75%    33064.75000     89.000000     63.000000     63.000000      7.000000
max    44086.00000    160.000000    118.000000    128.000000     10.000000

       game_seconds  game_milliseconds            GT            SP  \
count  44086.000000                0.0  4.408600e+04  25821.000000
mean      28.119607                NaN  1.693447e+12      2.263003
std       17.771264                NaN  3.549394e+08      1.688285
min        0.000000                NaN  1.692933e+12      1.000000
25%       13.000000                NaN  1.693143e+12      1.000000
50%       28.000000                NaN  1.693399e+12      2.000000
75%       43.000000                NaN  1.693649e+12      3.000000
max       59.000000                NaN  1.694357e+12     17.000000

                 ST           STQ          STQS           STS            SX  \
count  25979.000000  25979.000000  15074.000000  15074.000000  11914.000000
mean       9.620347      3.110204      9.161735     33.208438    142.067316
std        6.695920      2.036179      6.776427     24.683855     68.350327
min        1.000000      1.000000      1.000000      1.000000      0.000000
25%        4.000000      1.000000      4.000000     14.000000    115.000000
50%        8.000000      3.000000      7.000000     27.000000    143.000000
75%       14.000000      4.000000     13.000000     48.000000    174.000000
max       44.000000     16.000000     37.000000    128.000000    279.000000

                 SY           SPS            ID           Age        Height  \
count  11914.000000  14220.000000  41374.000000  41374.000000  41374.000000
mean      83.857814      6.044023      1.498332     27.790496    198.937014
std       52.329106      5.450443      0.500003      4.157406      9.479199
min        0.000000      1.000000      1.000000     16.000000    167.000000
25%       40.000000      2.000000      1.000000     25.000000    193.000000
50%       60.000000      4.000000      1.000000     28.000000    199.000000
75%      134.000000      8.000000      2.000000     31.000000    206.000000
max      260.000000     39.000000      2.000000     40.000000    224.000000

        eventid  distanceShot  seconds_elapsed
count   41374.0  11914.000000     44086.000000
mean   208182.0      7.711172      1235.266502
std         0.0      5.821184       698.602404
min    208182.0      0.000000         0.000000
25%    208182.0      1.700000       632.000000
50%    208182.0      7.700000      1214.000000
75%    208182.0     13.600000      1837.000000
max    208182.0     24.500000      2700.000000

In [5]:
# Check for missing values
print(df.isnull().sum())

Unnamed: 0               0
ListIndex                0
AC                       0
Action                   0
Id                       0
SA                       0
SB                       0
Time                     0
game_mins                0
game_seconds             0
game_milliseconds    44086
GT                       0
Z1                   19171
Z2                   35105
Z3                   31015
C1                    2712
SU                   28217
T1                     740
PId                  32122
SP                   18265
ST                   18107
STQ                  18107
STQS                 29012
STS                  29012
SX                   32172
SY                   32172
SPS                  29866
Score                35833
C2                   39618
name                  2712
Nationality           2712
ID                    2712
ParentId              2712
Position              2712
Age                   2712
Height                2712
rsc                      0
eventid               2712
location                 0
group                 5659
phase                    0
period                   0
Code                     0
zoneBasic            32161
distanceShot         32172
zoneRange            32172
seconds_elapsed          0
dtype: int64

In [6]:
df.group.value_counts()

group
Group C    3023
Group A    2954
Group B    2914
Group F    2863
Group E    2853
Group G    2821
Group D    2803
Group H    2781
Group N    2043
Group M    2033
Group K    1933
Group O    1912
Group L    1910
Group J    1903
Group P    1856
Group I    1825
Name: count, dtype: int64

In [7]:
df.phase.value_counts()

phase
First Round                   23012
Classification Round 17-32     7844
Second Round                   7571
Quarter-Finals                 1842
Semi-Finals                     948
Class. Games 5-8                896
3rd Place Game                  574
Class. Games 7-8                479
Class. Games 5-6                470
Final                           450
Name: count, dtype: int64

In [9]:
df.groupby('Nationality').size()

Nationality
ANG    1222
AUS    1178
BRA    1135
CAN    1878
CHN    1070
CIV    1041
CPV    1126
DOM    1145
EGY    1188
ESP    1198
FIN    1189
FRA    1098
GEO    1116
GER    1763
GRE    1044
IRI    1044
ITA    1770
JOR    1099
JPN    1054
LAT    1696
LBN    1029
LTU    1807
MEX    1079
MNE    1104
NZL    1246
PHI    1133
PUR    1146
SLO    1817
SRB    1780
SSD    1172
USA    1965
VEN    1042
dtype: int64

## Creating Boxscore Stats for one game

In [1]:
from boxscore_utils import create_boxscore_one_game

addind new columns

In [ ]:
rsc = '25276-H-3'
game1 = df[df.rsc==rsc]
create_boxscore_one_game(game1)

## HOW TO WIN? 
analyzing Germany Team

In [15]:
df_germany = df[df.Nationality == 'GER']
df_germany

,Unnamed: 0,ListIndex,AC,Action,Id,SA,SB,Time,game_mins,game_seconds,game_milliseconds,GT,Z1,Z2,Z3,C1,SU,T1,PId,SP,ST,STQ,STQS,STS,SX,SY,SPS,Score,C2,name,Nationality,ID,ParentId,Position,Age,Height,rsc,eventid,location,group,phase,period,Code,zoneBasic,distanceShot,zoneRange,seconds_elapsed
3948,3949,1,JB,Jump ball won,2:0012,0,0,10:00:00,10,0,NaN,1693125167000,NaN,NaN,NaN,P_181996,+,T_64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daniel THEIS,GER,2.0,T_64,PF,31.0,203.0,25276-E-3,208182.0,Okinawa (JPN),Group E,First Round,Q1,Q1,NaN,NaN,NaN,0
3951,3952,4,RFOUL,Foul drawn,2:0014,0,0,09:52:00,9,52,NaN,1693125183000,NaN,NaN,NaN,P_188677,NaN,T_64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johannes VOIGTMANN,GER,2.0,T_64,C,30.0,211.0,25276-E-3,208182.0,Okinawa (JPN),Group E,First Round,Q1,Q1,NaN,NaN,NaN,8
3952,3953,5,P2,"2PtsFG inside paint, Layup made (2 Pts)",2:0015,0,2,09:43:00,9,43,NaN,1693125202000,P,NaN,LU,P_189145,+,T_64,NaN,1.0,1.0,1.0,2.0,2.0,149.0,19.0,2.0,0-2,NaN,Dennis SCHRODER,GER,2.0,T_64,PG,29.0,185.0,25276-E-3,208182.0,Okinawa (JPN),Group E,First Round,Q1,Q1,Restricted Area,2.3,Less Than 8 ft.,17
3953,3954,6,ASS,Assist (1),2:0016,0,2,09:43:00,9,43,NaN,1693125202000,NaN,NaN,NaN,P_211501,NaN,T_64,2:0015,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Isaac BONGA,GER,2.0,T_64,PG,23.0,203.0,25276-E-3,208182.0,Okinawa (JPN),Group E,First Round,Q1,Q1,NaN,NaN,NaN,17
3955,3956,8,REB,Defensive rebound (1),2:0018,0,2,09:24:00,9,24,NaN,1693125220000,D,NaN,NaN,P_188677,NaN,T_64,2:0017,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,Johannes VOIGTMANN,GER,2.0,T_64,C,30.0,211.0,25276-E-3,208182.0,Okinawa (JPN),Group E,First Round,Q1,Q1,NaN,NaN,NaN,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44078,44079,122,RFOUL,Foul drawn,0.454861,81,77,00:12:00,0,12,NaN,1694356696000,NaN,NaN,NaN,P_189145,NaN,T_64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dennis SCHRODER,GER,1.0,T_64,PG,29.0,185.0,25283-92-A,208182.0,Manila (PHI),NaN,Final,Q4,Q4,NaN,NaN,NaN,2388
44079,44080,123,SUBST,Substitution,0.455556,81,77,00:12:00,0,12,NaN,1694356707000,NaN,NaN,NaN,P_181996,NaN,T_64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P_188677,Daniel THEIS,GER,1.0,T_64,PF,31.0,203.0,25283-92-A,208182.0,Manila (PHI),NaN,Final,Q4,Q4,NaN,NaN,NaN,2388
44080,44081,124,FT,Free Throw made 1 of 2 (27 Pts),0.45625,82,77,00:12:00,0,12,NaN,1694356735000,1,2,TO,P_189145,+,T_64,NaN,7.0,21.0,4.0,13.0,82.0,NaN,NaN,27.0,82-77,NaN,Dennis SCHRODER,GER,1.0,T_64,PG,29.0,185.0,25283-92-A,208182.0,Manila (PHI),NaN,Final,Q4,Q4,NaN,NaN,NaN,2388
44081,44082,125,FT,Free Throw made 2 of 2 (28 Pts),0.456944,83,77,00:12:00,0,12,NaN,1694356753000,2,2,TO,P_189145,+,T_64,NaN,8.0,22.0,5.0,14.0,83.0,NaN,NaN,28.0,83-77,NaN,Dennis SCHRODER,GER,1.0,T_64,PG,29.0,185.0,25283-92-A,208182.0,Manila (PHI),NaN,Final,Q4,Q4,NaN,NaN,NaN,2388
44084,44085,128,SUBST,Substitution,0.459028,83,77,00:03:00,0,3,NaN,1694356782000,NaN,NaN,NaN,P_188677,NaN,T_64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P_181996,Johannes VOIGTMANN,GER,1.0,T_64,C,30.0,211.0,25283-92-A,208182.0,Manila (PHI),NaN,Final,Q4,Q4,NaN,NaN,NaN,2397

Team Players

In [18]:
df_germany[['name',	'Position',	'Age',	'Height']].drop_duplicates()

                     name Position   Age  Height
3948         Daniel THEIS       PF  31.0   203.0
3951   Johannes VOIGTMANN        C  30.0   211.0
3952      Dennis SCHRODER       PG  29.0   185.0
3953          Isaac BONGA       PG  23.0   203.0
3965         Andreas OBST       SG  27.0   191.0
3998             Maodo LO       PG  30.0   191.0
4005         Niels GIFFEY       SF  32.0   200.0
4006        Moritz WAGNER        F  26.0   211.0
4007    Johannes THIEMANN       PF  29.0   205.0
4034       Justus HOLLATZ       PG  22.0   191.0
13886        David KRAMER       PG  26.0   196.0
29488        Franz WAGNER        G  22.0   208.0